# gitignore settings for dissertation #
figures/source/*.aif
figures/source/*.logicx
dissertation/*.pdf
dissertation/output/**
esm-docs/**
figures/**.pdf
proposal/output/*.pdf
research/timeline.md
research/log.md
templates/**

# odt and docx locked and temp files
.~lock*
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
*~

# vim session files
Session.vim
.netrwhist
